.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.stock-name {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.stock-price {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 1px;
    margin-bottom: 0;
}

.stock-price-label {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0;
    color: grey;
    line-height: 1;
}

.header-right {
    display: flex;
    align-items: center;
}


.header-download {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-download:hover {
    background-color: #0056b3;
}

.header-download svg {
    width: 20px;
    height: 20px;
}

.metrics-container {
    display: flex;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.metrics-left, .metrics-right {
    flex: 1;
    /* padding: 20px; */
}

.metrics-left {
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
    margin-right: 20px;
}

.metrics-left h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.metrics-left p {
    font-size: 1rem;
    line-height: 1.5;
}

.metrics-right h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.metrics-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 13px;
}

.metrics-item {
    display: flex;
    flex-direction: column;
}

.metrics-label {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
}

.metrics-value {
    font-size: 0.9rem;
    font-weight: 600;
}

@media (max-width: 700px) {
    .metrics-grid {
        grid-template-columns: 1fr;
    }
}

.risk-container {
    padding: 20px;
}

.risk-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.risk-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.risk-card.first {
    z-index: 1;
    rotate: -10deg;
}

.risk-card.second {
    z-index: 0;
    rotate: 5deg;
}

.card-container {
    position: relative;
    overflow: hidden;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.card-image {
    position: relative;
    z-index: 1;
}

.card-background {
    width: 500px;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    animation: rotate360 30s linear infinite;
}

@keyframes rotate360 {
    from {
        transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    }
}